<header class="header">
    <a href = "/admin-dashboard" class="header__logo">Admin</a>
        <div class="header__button">
        <a href="/logout" 
   class="btn-danger" 
   onclick="return confirm('⚠️ Are you sure you want to log out?');">
   Logout
</a>

    </div>

    <nav class="header__nav">
        <ul>
            <li>
                <a href="/profile" class="" >Profile</a>
            </li>
            <li>
                <a href="/about" class="" >About</a>
            </li>
            <li>
                <a href="/contact" class="" >Contact</a>
            </li>
        </ul>
    </nav>

</header>