<header class="header">
    <a href = "/" class="header__logo">ðŸª¶Quillo</a>
        <div class="header__button">
        <a href="/logout" 
   class="btn-danger" 
   onclick="return confirm('âš ï¸ Are you sure you want to log out?');">
   Logout
</a>

    </div>

    <nav class="header__nav">
    </nav>

</header>