<div class="searchBar">
    <div class="container">
        <form action="/search" class="search__form" role="search" method="POST">
        <div>
        <input 
        type="search"
        aria-label="Search"
        id="searchInput"
        name="searchTerm"
        placeholder=
        "Search Blog...">
        </div>
        </form>
    </div>
    <button type="button" id="searchClose">&times;</button>

</div>