<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <h2>Admin</h1>
    <button onclick="location.href='/dashboard'" class="dashboard-btn">Blogs</button>
    <button onclick="location.href='/'" class="dashboard-btn">Reader</button>
    <button onclick="location.href='/dashboard'" class="dashboard-btn">Editor</button>

</body>
</html>