<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <br>
  <br>
  <h2>Pay $100 for 100 blogs</h2>
<form action="/create-checkout-session" method="POST">
  <br>
  <br>
  <button type="submit">Checkout</button>
</form>
<br>
<br>
<p><a href="/">Go back to Home</a></p>
</body>
</html>

