<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editor Dashboard</title>
</head>
<body>
    <h1>Editor Dashboard</h1>
    <button onclick="location.href='/editor'" class="dashboard-btn">Manage Blogs</button>
    <button onclick="location.href='/settings'" class="dashboard-btn">Settings</button>
    <button onclick="location.href='order-history'" class="dashboard-btn">Order history</button>

</body>
</html>