<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit profile</title>
</head>
<body>
    <form action="/edit-profile" method="POST">
        <label for="firstname"><b>First Name</b></label>
        <input type="text" placeholder="First Name" name="firstname" style="width:40%;" value="<%= user.firstname %>" required>

        <label for="lastname"><b>Last Name</b></label>
        <input type="text" placeholder="Last Name" name="lastname"style="width:40%;" value="<%= user.lastname %>" required>

        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Email" name="email"style="width:40%;" value="<%= user.email %>" required>

        <input type="submit" value="Update Profile" class="btn">
</body>
</html>