<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit profile</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="container">
    <form action="/edit-profile" class="signup" method="POST">
        <label for="firstname"><b>First Name</b></label>
        <input type="text" placeholder="First Name" name="firstname" value="<%= user.firstname %>" required>

        <label for="lastname"><b>Last Name</b></label>
        <input type="text" placeholder="Last Name" name="lastname" value="<%= user.lastname %>" required>

        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Email" name="email" value="<%= user.email %>" required>

        <input type="submit" value="Update Profile" class="btn btn-primary">
    </form>
    </div>    
</body>
</html>