<h1><%= data.title %></h1>
<% if (data.image) { %>
  <img src="<%= data.image %>" alt="Blog image" style="max-width:400px; height:auto; margin: 15px 0;">
<% } %>
<article class="article"><%= data.body %></article>